<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4" *ngFor="let p of products">
      <h2>{{p.name}}</h2>
      <h5>{{p.price}}</h5>
      <div class="fakeimg"><img src="{{p.img}}" height="300" width="380"></div>
      <p>{{p.status}}</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
    </div>
  </div>
</div>


